<div class="page">
  <div class="login-container">
    <div class="login-card">

      <div class="login-header" style="background-image: url('image/shopping_cart.png');">
        <h1 class="login-title">Se connecter</h1>
      </div>

      <form [formGroup]="form" class="login-form">


        <div class="form-group">
          <input class="form-input" type="text" name="username" placeholder="Nom d'utilisateur"
                 formControlName="username">
          <span class="input-underline"></span>
        </div>

        <div class="form-group">
          <input class="form-input" type="password" name="password" placeholder="Mot de passe"
                 formControlName="password">
          <span class="input-underline"></span>
        </div>
        @if (isEnteredUsernameValid) {
          <p class="control-error">Veuillez entrer un email valide</p>
        }
        @if (isEnteredPasswordValid) {
          <p class="control-error">Le mot de passe doit contenir au moins 6 caractères</p>
        }
        @if (errorMessage()) {
          <p class="control-error">{{ errorMessage() }}</p>
        }

        <a [routerLink]="AppRoutes.SIGN_UP_PAGE" class="form-link">Nouveau sur PriceWise ? Créer un compte</a>

        <button class="submit-button" matButton type="submit" [disabled]="form.invalid || isLoading()" (click)="onLogin()">
          @if (isLoading()) {
            <span>Connexion en cours...</span>
          } @else {
            <span>Se connecter</span>
          }
        </button>
      </form>

    </div>
  </div>
</div>
