<app-header/>


<main class="main-content">
  <div class="content-container">
    <div class="main-section">
      <div class="section-header">
        <h2>Liste des produits favoris</h2>
        <!--        <p>Selection de magasin disponible : 20</p>-->

        <mat-form-field appearance="outline" class="white-background" style="margin-right: 14px">
          <mat-label>Rechercher un produit</mat-label>
          <input matInput
                 placeholder="Nom ou marque..."
                 [value]="searchTerm()"
                 (input)="onSearchChange($event.target!.value)">
          @if (searchTerm()) {
            <mat-icon class="icon-hover" matIconSuffix (click)="onClearSearch()">close</mat-icon>
          } @else {
            <mat-icon matIconSuffix>search</mat-icon>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="white-background">
          <mat-label>Choisir une liste</mat-label>
          <mat-select [(value)]="selectedList">
<!--            <mat-option value="0">Aucune</mat-option>-->
            @for (list of personalList(); track list.listId){
              <mat-option [value]="list.listId">{{list.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>


        <button mat-button [matMenuTriggerFor]="Menu" style="color: #484848">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #Menu="matMenu">
          <button mat-menu-item (click)="onOpenDialogAddList()">
            <mat-icon>add</mat-icon>
            <span>Ajouter</span>
          </button>
          @if (selectedList() !== 0) {
            <button mat-menu-item (click)="onOpenDialogUpdateList()">
              <mat-icon>edit_square</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item (click)="onOpenDialogConfirm()">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          }
        </mat-menu>
      </div>

      @if (listProducts()?.length !== 0) {
        <table mat-table [dataSource]="dataSource" class="product-table">
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let product" ><strong>{{product.name}}</strong> @if (product.brand) { <small> ({{ product.brand }})</small> } </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantité </th>
            <td mat-cell *matCellDef="let product" class="table-quantity">{{ product.quantity }}{{ product.unit }} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Prix </th>
            <td mat-cell *matCellDef="let product"><span class="table-price">{{ product.productPrice | currency: 'EUR' }}</span> | <span class="table-price-gross">{{ product.referencePrice | currency: 'EUR' }}/{{referencePriceUnitLabel(product.unit)}}</span></td>
          </ng-container>

          <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef> Lieu </th>
            <td mat-cell *matCellDef="let product"> {{ product.storeName }} {{ product.storeCity }} {{ product.storePostalCode }}
              <br>
              <span class="table-street">{{ product.storeStreet }},{{product.storeNumber}}</span></td>
          </ng-container>

          <ng-container matColumnDef="lastPrice">
            <th mat-header-cell *matHeaderCellDef> Dernier Prix </th>
            <td mat-cell *matCellDef="let product">{{ product.priceDate | date: 'mediumDate' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="AppRoutes.productDetailPage(row.productId)"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      } @else {
        <h3>Veuillez choisir une liste</h3>
      }


    </div>
  </div>

</main>

<app-footer/>
