<header class="header">
  <nav class="header-container">
    <div [routerLink]="AppRoutes.HOME_PAGE">
      <img src="/image/logo_modif.png" alt="logo" class="img">
    </div>


    <ul>

      @if (isAdmin()) {
        <button mat-button style="color: darkred" [routerLink]="AppRoutes.ADMIN_PAGE">
          Admin
          <mat-icon>security</mat-icon>
        </button>
      }

      <button mat-button style="color: #484848" [routerLink]="AppRoutes.HOME_PAGE">
        Accueil
        <mat-icon>home</mat-icon>
      </button>

      <button mat-button style="color: #484848" [routerLink]="AppRoutes.STORE_LIST_PAGE">
        Catalogue
        <mat-icon>storefront</mat-icon>
      </button>

      <button mat-button [routerLink]="AppRoutes.PERSONAL_LIST_PAGE" style="color: #484848">
        Liste
        <mat-icon>bookmarks</mat-icon>
      </button>

      <button mat-button [routerLink]="AppRoutes.DASHBOARD_PAGE" style="color: #484848">
        Social
        <mat-icon>forum</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="currentUserMenu" style="color: #484848">
        {{ currentUser()?.displayName }}
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #currentUserMenu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>

    </ul>
  </nav>

</header>
