<nav>
  <div class="logo">
    <a routerLink="../">MonPanierMalin LOGO</a>
  </div>

  <hr>

  <ul>
<!--    <li routerLink="">Accueil</li>-->

    <button mat-button style="color: #484848">
      Accueil
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button routerLink="/store-list" style="color: #484848">
      Catalogue
      <mat-icon>storefront</mat-icon>
    </button>

    <button mat-button routerLink="/personal-list" style="color: #484848">
      Liste
      <mat-icon>bookmarks</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="currentUserMenu" style="color: #484848">
      {{ currentUser() }}
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #currentUserMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>


  </ul>
</nav>
<hr>
