
<div class="page">
  <div class="login-container">
    <div class="login-card">

      <div class="login-header" style="background-image: url('image/shopping_cart.png');">
        <h1 class="login-title">Créer un compte</h1>
      </div>

      <form [formGroup]="form" class="login-form">
        @if (errorMessage()) {
          <p style="color: red">{{ errorMessage() }}</p>
        }
        <div class="form-group">
          <input class="form-input" type="email" name="email" placeholder="E-mail"
                 formControlName="email">
          <span class="input-underline"></span>
        </div>

        <div class="form-group">
          <input class="form-input" type="text" name="username" placeholder="Nom d'utilisateur"
                 formControlName="username">
          <span class="input-underline"></span>
        </div>

        <div class="form-group">
          <input class="form-input" type="password" name="password" placeholder="Mot de passe"
                 formControlName="password">
          <span class="input-underline"></span>
        </div>

        <div class="form-group">
          <input class="form-input" type="password" name="password" placeholder="Répetez le mot de passe"
                 formControlName="repeatPassword">
          <span class="input-underline"></span>
        </div>

        @if (isEnteredEmailValid) {
          <p class="control-error">E-mail entré incorrect</p>
        }
        @if (isEnteredUsernameValid) {
          <p class="control-error">Veuillez saisir un nom d'utilisateur valide (minimum 3 caractères).</p>
        }
        @if (isEnteredPasswordValid) {
          <p class="control-error">Veuillez saisir un mot de passe valide (minimum 6 caractères).</p>
        }
        @if (isPasswordMismatch) {
          <p class="control-error">Les mots de passe ne correspondent pas</p>
        }

        <a [routerLink]="AppNode.SIGN_IN_PAGE" class="form-link">Vous avez déjà un compte? Se connecter</a>

        <button class="submit-button" matButton type="submit" [disabled]="form.invalid || isLoading()" (click)="onRegister()">
          @if (isLoading()) {
            <span>Enregistrement en cours...</span>
          } @else {
            <span>S'enregistrer</span>
          }
        </button>
      </form>

    </div>
  </div>
</div>
