
<!--<form [formGroup]="form" style="margin: 20px">-->
<!--  <h2>Créer un nouveau compte</h2>-->
<!--  <p routerLink="/login" style="cursor: pointer">Vous avez déjà un compte? Se connecter</p>-->
<!--  <br><br>-->

<!--  @if (errorMessage()) {-->
<!--    <p style="color: red">{{ errorMessage() }}</p>-->
<!--  }-->

<!--  <p>-->
<!--    <label for="email">Email</label>-->
<!--    <input id="email" type="email" [formControl]="form.controls.email"/>-->
<!--  </p>-->
<!--  <p>-->
<!--    <label for="username">Nom d'utilisateur</label>-->
<!--    <input id="username" type="text" [formControl]="form.controls.username"/>-->
<!--  </p>-->
<!--  <p>-->
<!--    <label for="password">Mot de passe</label>-->
<!--    <input id="password" type="password" formControlName="password"/>-->
<!--  </p>-->


<!--  <button type="submit" (click)="onRegister()">S'enregistrer</button>-->


<!--  @if (isEnteredEmailValid) {-->
<!--    <p class="control-error">Entered email is incorrect</p>-->
<!--  }-->
<!--  @if (isEnteredUsernameValid) {-->
<!--    <p class="control-error">Please enter a valid username (minimum 3 char)</p>-->
<!--  }-->
<!--  @if (isEnteredPasswordValid) {-->
<!--    <p class="control-error">Please enter a valid password (minimum 6 char)</p>-->
<!--  }-->


<!--</form>-->
